<section class="about-custom">
  <div class="page-width">
    <h1 class="about-page-title">{{ page.title }}</h1>
    <div class="image-banner">
      <img src="{{ 'aipic.png' | asset_url }}" width="100%" height="300">
    </div>
    <div class="rte">
      {{ page.content }}
    </div>
    <p class="link-to-products">{{ "I nostri prodotti" | link_to: routes.cart_url }}</p>

  </div>
</section>

{% stylesheet %}
  .about-custom {
    padding: 4rem 2rem;
  }

  .about-page .page-width {
    margin: 0 auto;
  }

  .about-page-title {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  .image-banner img{
    border-radius: 30px;
    animation: appear 2s ease-in-out;
    z-index: 980;
  }

  @keyframes appear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .rte{
    margin-top: 4rem;
    font-style: italic;
    font-size: 18px;
    line-height: 2rem;
    z-index: 999;
  }

  .link-to-products{
    text-align: center;
    margin-top: 3rem;
    font-size: 2rem;
    animation: trumble 2s ease-in-out infinite;

    a{
      text-decoration: none;
      color: black;
    }
    
  }

  @keyframes trumble {
      0% {
        transform: translateY(0);
        text-decoration: none;
      }
      25% {
        transform: translateY(4px);
        text-decoration: underline;
      }
      50% {
        transform: translateY(0);
        text-decoration: none;
      }
      75% {
        transform: translateY(2px);
        text-decoration: underline;
      }
      100% {
        transform: translateY(0);
        text-decoration: none;
      }
    }
{% endstylesheet %}
